name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
      # uses GitHub's checkout action to checkout code form the master branch
    - uses: actions/checkout@v2
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
      # publishes Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: dotnet publish SRT.csproj -c Release -o release --nologo
    - name: Rewrite base href
      uses: SteveSandersonMS/ghaction-rewrite-base-href@v1
      with:
        html_path: release/wwwroot/index.html
        base_href: /SRT/
    - name: Commit wwwroot to GitHub Pages
      uses: avinal/github-pages-deploy-action@v0.9
      with:
        DOCS_FOLDER: release/wwwroot
